.dimensions-field {
	border: 1px solid #ddd;

	&__legend {
		font-weight: bold;
	}

	&__inner {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
    column-gap: 16px;
		row-gap: 4px;
		margin: 0 8px 8px;
	}

	&__item {
		label {
			font-size: 12px;
		}

		input {
			font-size: 12px;
			min-height: 20px;
			padding-right: 0;
		}

		&[data-unit] {
			input {
				border-right: none;
			}

			&::after {
				content: attr(data-unit);
				border: 1px solid #7e8993;
				background-color: #ddd;
			}
		}
	}
}
