.field-typography {
	border: 1px solid #ddd;

	&__legend {
		font-weight: bold;
	}

	&__inner {
		display: grid;
		grid-template-columns: repeat(4,1fr);
		grid-template-areas:
			"family  family  family  family"
			"weight  weight  weight  weight"
			"minSize minSize maxSize maxSize"
			"lineHgt lineHgt letterS letterS"
			"align   align   align   align"
			"transfm transfm transfm color";
    gap: 12px 8px;
		margin: 0 8px 8px;
	}

	&__item {
		label {
			font-size: 12px;
			font-weight: normal;
		}

		&-row {
			display: flex;
    	align-items: stretch;

			span {
				background-color: #f5f5f5;
				border: 1px solid #7e8993;
				border-left: none;
				border-radius: 0 4px 4px 0;
				display: flex;
				align-items: center;
				padding: 0 8px;
				order: 1;
				font-size: 14px;
    		line-height: 1.4;

				+ input {
					border-radius: 4px 0 0 4px;
				}
			}
		}



		/* Items' position */
		&.--font-family    { grid-area: family; }
		&.--font-weight    { grid-area: weight; }
		&.--font-size-min  { grid-area: minSize; }
		&.--font-size-max  { grid-area: maxSize; }
		&.--line-height    { grid-area: lineHgt; }
		&.--letter-spacing { grid-area: letterS; }
		&.--text-align     { grid-area: align; }
		&.--text-transform { grid-area: transfm; }
		&.--color          { grid-area: color; }

		&.--letter-spacing {
			label {
				white-space: nowrap;
			}
		}

		&.--text-align {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;

			> span {
				flex-basis: 100%;
				display: block;
				margin-bottom: 8px;
			}
			> div {
				position: relative;
				flex: 0 0 18%;
				padding-top: 18%;
			}
			input {
				position: absolute;
				z-index: -1;

				&:checked + label {
					box-shadow: 0 0 0 2px #007cba;
				}
			}
			label {
				position: absolute;
				top: 0;
				left: 0;
				display: flex;
				align-items: center;
				justify-content: center;
				width: 100%;
				height: 100%;
				font-size: 0;
				border-radius: 4px;

				box-shadow: 0 0 0 0;
				transition: box-shadow .2s ease-out;

				&::before {
					font-size: 1.5rem;
				}

				&:hover,
				&:focus-visible {
					box-shadow: 0 0 0 1px;
				}
			}
		}

		&.--color {
			label {
				display: block;
			}
			input {
				display: block;
				width: 100%;
				height: 30px;
			}
		}
	}
}
